PORT=5000
MONGO_URI=mongodb://localhost:27017/marketlane-mern
JWT_SECRET=your_jwt_secret_keyASDFGHJKL

EMAIL_USER=Admin@gmail.com
EMAIL_PASS=1234567891234567

CLOUDINARY_CLOUD_NAME=cloud_namee
CLOUDINARY_API_KEY=api_key
CLOUDINARY_CLOUD_SECRET=cloud_secret

RAZORPAY_KEY_ID=rzp_test_1a2b3c4d5e6f7g
RAZORPAY_KEY_SECRET=rzp_test_1a2b3c4d
FRONTEND_URL=http://localhost:3000
NODE_ENV=development